body {
  background-color: beige;
  opacity: 15;
}
li {
  list-style: none;
  position: fixed;
  top: 200px;
}
.area {
  position: fixed;
  top: 40px;
  right: 550px;
  margin: 0 auto;
  text-align: center;
  color: blue;
  padding: 5px 70px;
  display: block;
  background-color: darkgrey;
  transition: all 250ms ease-in-out;
  border-radius: 4px;
  border-width: 1px;
}
.area:hover {
  background-color: lightgray;
}
.city {
  position: fixed;
  right: 20px;
  top: 0;
}
.day {
  position: fixed;
  right: 20px;
  top: 50px;
  color: gray;
}
.weather {
  position: fixed;
  right: 30px;
  top: 70px;
  color: grey;
}
.col-4 {
  position: relative;
  top: 150px;
}
.humidity {
  text-decoration: underline yellow solid;
  top: 150px;
  font-family: arial, sans-serif;
  transition: all 250ms ease-in-out;
}
.humidity:hover {
  text-decoration: underline blue solid;
  cursor: pointer;
}
.wind {
  right: 660px;
  top: 200px;
  left: 32px;
  font-family: arial, sans-serif;
  transition: all 250ms ease-in-out;
}
.wind:hover {
  text-decoration: underline blue solid;
  cursor: pointer;
}
.col-2 {
  position: relative;
  top: 220px;
  right: -20px;
  transition: all 250ms ease-in-out;
}
.col-2:hover {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.cloudy1 {
  position: relative;
  top: 220px;
  font-size: 50px;
  right: -10px;
  color: darkgray;
}
.sunny1 {
  position: relative;
  top: 220px;
  font-size: 50px;
  right: -170px;
  color: yellow;
}
.cloudy2 {
  position: relative;
  top: 220px;
  font-size: 50px;
  right: -350px;
  color: darkgray;
}
.cloudy3 {
  position: relative;
  top: 220px;
  font-size: 50px;
  right: -515px;
  color: darkgray;
}
.rain1 {
  position: relative;
  top: 220px;
  font-size: 50px;
  right: -680px;
  color: blue;
}
.cloudy4 {
  position: relative;
  top: 220px;
  font-size: 50px;
  right: -865px;
  color: darkgray;
}
.cloudy5 {
  position: relative;
  top: -80px;
  font-size: 50px;
  right: 350px;
  color: darkgray;
}
.col {
  position: relative;
  top: 30px;
}
.numb {
  right: -110px;
  font-size: 40px;
}
.numb:hover {
  color: red;
}
.degr {
  right: 310px;
  top: 40px;
}
.degr:hover {
  cursor: pointer;
}
.fara {
  right: 745px;
  top: 40px;
  color: grey;
}
.fara:hover {
  cursor: pointer;
}
.col-6 {
  position: relative;
  top: 230px;
}
.high1 {
  right: -10px;
}
.low1 {
  right: 650px;
  color: gray;
}
.high2 {
  top: 200px;
  right: -230px;
}
.low2 {
  top: 200px;
  right: 430px;
  color: gray;
}
.high3 {
  top: 180px;
  right: -470px;
}
.low3 {
  top: 180px;
  right: 190px;
  color: gray;
}
.high4 {
  top: 155px;
  right: -710px;
}
.low4 {
  top: 155px;
  right: -50px;
  color: gray;
}
.high5 {
  top: 130px;
  right: -930px;
}
.low5 {
  top: 130px;
  right: -270px;
  color: gray;
}
.high6 {
  top: 105px;
  right: -1180px;
}
.low6 {
  top: 105px;
  right: -520px;
  color: gray;
}
.submitButton {
  position: fixed;
  top: 44px;
  right: 480px;
  margin: 0 auto;
  text-align: center;
  color: blue;
  border-radius: 4px;
  border-width: 1px;
  transition: all 250ms ease-in-out;
}
.submitButton:hover {
  background-color: blue;
  color: white;
}
.currentButton {
  position: fixed;
  top: 44px;
  right: 400px;
  margin: 0 auto;
  text-align: center;
  color: white;
  border-radius: 4px;
  border-width: 1px;
  transition: all 250ms ease-in-out;
  background-color: blue;
}
.currentButton:hover {
  background-color: white;
  color: blue;
}
.githubLink {
  bottom: 100px;
  margin: 0 auto;
  position: fixed;
  right: 500px;
}
